[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.*"
flask-cors = "==5.*"
flask-caching = "==2.*"
redis = "==5.*"
yt-dlp = "*"
gunicorn = {extras = ["gevent"], version = "==23.*"}
gevent = "==24.*"
requests = "==2.*"

[dev-packages]

[requires]
python_version = "3.12"
