<!DOCTYPE html>
<html>
<head>
    <title>Youtube audio only player</title>
</head>
<body>
    <form id="youtube-url">
        <label for="url">
            Youtube video URL:
        </label>
        <input type="url" id="url">
        <br/>
        <label for="quality">
            Quality:
        </label>
        <select id="quality">
            <option disabled="disabled">Put video first</option>
        </select>
        <br/>
        <input type="button" value="Play" id="play">
    </form>

    <audio controls style="display: none"></audio>

    <script>
        const $ = p => document.querySelector(p);
        const urlInput = $('#url');
        const qualitySelect = $('#quality');
        const playButton = $('#play');
        const player = $('audio');

        const setLoadingState = loading => {
            if(loading) {
                urlInput.disabled = true;
                qualitySelect.disabled = true;
                playButton.disabled = true;
                player.style.display = 'none';
                player.pause();
            } else {
                urlInput.disabled = false;
                qualitySelect.disabled = false;
                playButton.disabled = false;
            }
        };

        const getYoutubeId = () => {
            let id = /(?:(?:https?:\/\/)?(?:www\.)?youtube\.com\/watch\/?\?v=(.+))|(?:(?:https?:\/\/)?(?:www\.)?youtu\.be\/(.+))/.exec(urlInput.value);
            return id[1] || id[2];
        }

        urlInput.addEventListener('change', () => {
            let id = getYoutubeId();
            if(id) {
                setLoadingState(true);
                fetch(`/api/${id}/formats`)
                    .then(res => {
                        if(res.status === 200) return res.json();
                        else setLoadingState(false);
                    })
                    .then(info => {
                        while(qualitySelect.firstChild) {
                            qualitySelect.removeChild(qualitySelect.firstChild);
                        }
                        let qq = document.createElement('option');
                        qq.setAttribute('value', '');
                        qq.innerText = `Best quality (may not work)`;
                        qualitySelect.appendChild(qq);
                        for(let quality of info) {
                            let qq = document.createElement('option');
                            qq.setAttribute('value', quality.id);
                            qq.innerText = `${quality.extra} [${quality.bps}]`;
                            qualitySelect.appendChild(qq);
                        }
                        setLoadingState(false);
                    });
            } else {
                alert('Invalid Youtube URL');
            }
        });

        playButton.addEventListener('click', e => {
            e.preventDefault();
            let id = getYoutubeId();
            let quality = qualitySelect.value;
            let url = quality ? `/api/${id}?quality_id=${quality}` : `/api/${id}`;
            setLoadingState(true);
            fetch(url)
                .then(res => {
                    if(res.status === 200) return res.json();
                    else setLoadingState(false);
                })
                .then(json => {
                    player.setAttribute('src', json.url);
                    player.style.display = null;
                    player.play();
                    setLoadingState(false);
                });
        })
    </script>
</body>
</html>